<div class="header-container">
  <button mat-raised-button color="primary" routerLink="/lazy-1">Lazy Loaded Component 1</button>
</div>

<div class="table-container mat-elevation-z8">
  <div class="filter-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Street Number Column -->
    <ng-container matColumnDef="streetNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Street Number </th>
      <td mat-cell (click)="enableField(element, i, 'streetNumber')" *matCellDef="let element, let i = index">
        <app-editable-cell
          [element]="element"
          [property]="'streetNumber'"
          [placeholder]="'Street Number'"
          [isEditing]="(currentEditField == 'streetNumber' && currentEditIndex == i)"
          (cellLostFocus)="update(i, element)">
        </app-editable-cell>
      </td>
    </ng-container>

    <!-- Street Column -->
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
      <td mat-cell (click)="enableField(element, i, 'street')" *matCellDef="let element, let i = index">
        <app-editable-cell
          [element]="element"
          [property]="'street'"
          [placeholder]="'Street'"
          [isEditing]="(currentEditField == 'street' && currentEditIndex == i)"
          (cellLostFocus)="update(i, element)">
        </app-editable-cell>
      </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell (click)="enableField(element, i, 'city')" *matCellDef="let element, let i = index">
        <app-editable-cell
          [element]="element"
          [property]="'city'"
          [placeholder]="'City'"
          [isEditing]="(currentEditField == 'city' && currentEditIndex == i)"
          (cellLostFocus)="update(i, element)">
        </app-editable-cell>
      </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td mat-cell (click)="enableField(element, i, 'state')" *matCellDef="let element, let i = index">
        <app-editable-cell
          [element]="element"
          [property]="'state'"
          [placeholder]="'State'"
          [isEditing]="(currentEditField == 'state' && currentEditIndex == i)"
          (cellLostFocus)="update(i, element)">
        </app-editable-cell>
      </td>
    </ng-container>

    <!-- Zip Column -->
    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zip </th>
      <td mat-cell (click)="enableField(element, i, 'zip')" *matCellDef="let element, let i = index">
        <app-editable-cell
          [element]="element"
          [property]="'zip'"
          [placeholder]="'Zip'"
          [isEditing]="(currentEditField == 'zip' && currentEditIndex == i)"
          (cellLostFocus)="update(i, element)">
        </app-editable-cell>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</div>
